.extraForCard{
    width: 90%;
    margin: 20px auto;
    height: 80vh;
}
.time{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    justify-content: space-between;
}